@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size:100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------NAV-BAR------------*/
@font-face { font-family: Lato;
            src: url('/style/fonts/Lato/Lato-Regular.ttf');
}
.nav{
    width:100%;
    display: flex;
    justify-content: center;
    height: 7.87vh;
    border-bottom: 0.09vh solid #D6D6D6;
    
    
  
}
.nav-bar{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar__logo{
    width: 4.144vw;
    height: 2.596vh;
}


.nav-bar__links-wrap{
    width:29vw;
    height: 2.22vh;
    display: flex;
    justify-content: space-around;
}

.nav-bar__buttons-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14.427vw;
    height: 4.72vh;
}
.nav-bar__button{
    width: 9.53vw;
    height: 4.72vh;
    background-color: #01996D;
    border-style: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.85vh;
    line-height: 2.22vh;
    text-align: center;

}
.nav-bar__link{
    font-style: normal;
    text-decoration: none;
    font-family:'Lato';
    font-size: 1.85vh;
    color: #000000;
    font-weight:400;
    line-height: 2.22vh;
}
/*-------------BIG-PHOTO---------------*/
.big-photo-wrap{
    width: 100%;
    height: 82.87vh;
    position: relative;
    background-image: url("/img/radu-florin-CwTBt6jyagQ-unsplash\ 4.svg");
    background-repeat: no-repeat;
    overflow: clip;

}

.big-photo__photo_front{
    position: absolute;
    left: 10vw;
    z-index: 1;
}
.big-photo__effect-rec{
    position:absolute;
    z-index: 3;
    width: 100%;
    height: 82.87vh;
    background: linear-gradient(112.58deg, #FFFFFF 18.15%, rgba(255, 255, 255, 0) 53.07%), rgba(0, 0, 0, 0.1);
}

.big-photo__headline-wrap{
    position:absolute;
    top: 16vh;
    left: 14.32vw;
    z-index: 4;
    width: 22.917vw;
    height: 35.56vh;
   display: flex;
   flex-direction: column;
    justify-content: space-between;

}
.big-photo__headline-main{
    font-family: 'Georgia';
    font-style: normal;
    margin: 0 0 0 0;
    font-weight: 700;
    font-size: 6.02vh;
    line-height: 6.838vh;
    color: #01996D;
}
.big-photo__headline-descr{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1.85vh;
    line-height: 2.9vh;
    color: #484848;
    margin: 0 0 0 0;
   /* margin-bottom: 18px;*/
}
.big-photo__button{
    background-color: #01996D;
    color:#FFFFFF;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1.85vh;
    text-align: center;
    align-items: center;
    width: 11.823vw;
    height: 6.02vh;
    border: 1px solid #01996D;
    border-radius: 4px;
}

/*--------description-box-------*/

.description-box{
    width: 72.448vw;
    height: 128.33vh;
    margin: 15.64vh 0 0 14.32vw;
}
.description-box__tag{
    font-family: 'Lato';
    font-weight: 600;
    font-size: 2.22vh;
    line-height: 3.52vh;
    color: #424242;
}
.description-box__text-block-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.description-box__text-block_main{
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 4.629vh;
    line-height: 7.315vh;
    color: #01996D;
}
.description-box__text-block_descr{
    font-family: 'Lato';
    font-weight: 500;
    font-size: 1.89vh;
    line-height: 2.77vh;
    color: #424242;
}
.description-box__main-text-block-wrap{
    width:30.42vw;
}
.description-box__descr-text-block-wrap{
    width: 34.95vw;
}
.description-box__steps-blocks-wrap{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5.2778vh;
}
.description-box__steps-block_1{
    height: 86.76vh;
    width: 20.3125vw;

}
.description-box__steps-block_2{
    height: 79.07vh;
    width: 20.4167vw;
    margin-top: 26.5741vh;
}
.description-box__steps-block_3{
    height: 79.26vh;
    width: 22.969vw;
    margin-top: 5vh;
}
.steps-block__header{
    height: 20.83vh;
}
.steps-block__header-number{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 14.1777vh;
    line-height: 20.833vh;
    color: rgba(1,153,109,0.2);
}
.steps-block__header-text{
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 2.835vh;
    line-height: 4.1667vh;
    color: #000000;
}
.steps-block__header-text_left{
    position:absolute;
    top: 141.667vh;
    left: 18.90625vw;
}

.steps-block__header-text_center{
    position: absolute;
    top: 168.241vh;
    left: 43.6979vw;
}

.steps-block__header-text_right{
    position: absolute;
    top: 146.6667vh;
    left: 71.771vw;
}
.steps-block__descr{
    font-family: 'Lato';
    font-weight: 500;
    font-size: 1.89vh;
    line-height: 2.7778vh;
    color: #424242;
    margin-top: 0.926vh;
}
.steps-block__image-wrap_first{
    margin-top: 5.556vh;
    width: 100%;
    height: 45.556vh;
    border-radius:12px;
    position: relative;
    overflow: clip;
}
.steps-block__image_first{
    width: 20.3125vw;
    height: 45.556vh;
    border-radius:12px;
    position: absolute;
    z-index: 1;
}
.steps-block__image1-addition{
    position: absolute;
    top: 20.953vh;
    left: 10.4167vw;
    width: 10.3125vw;
    height: 13.7037vh;
    z-index: 2;
    
}
.steps-block__image1-addition_effect{
    position: absolute;
    z-index: 3;
    top: 20.953vh;
    left: 10.4167vw;
    width: 9.63542vw;
    height: 13.7037vh;
    background: linear-gradient(122.77deg, rgba(24, 24, 24, 0.2) 2.51%, rgba(196, 196, 196, 0) 95.42%);
}
.steps-block__image-wrap_second{
    margin-top: 3.4259vh;
    height: 45.556vh;
    border-radius: 12px;
}
.steps-block__image-wrap_third{
    position: relative;
    margin-top: 4.444vh;
    height: 45.55vh;
    width: 20.3125vw;
    background-color: #C4C4C4;
    border-radius: 12px;
    overflow: clip;
}
.steps-block__image-3{
    position: absolute;
    height: 64.352vh;
    width: 28.6979vw;
    top: -15.7vh;
    left: -1.1979167vw;
}

/*--------video-section---------*/

.video-section{
    margin-top: 4.722vh;
    width: 100%;
    height: 85.3704vh;
    background-color: #245852;
    display: flex;
    flex-direction: row;
}
.video-section__text-wrap{
    margin: 28.7037vh 0 0 10.78125vw;
}
.video-section__text{
    height: 21.29629vh;
    width: 30.2083333vw;
}
.video-section__headline{
    font-family: 'Geogia';
    font-weight: 700;
    font-size: 4.725898vh;
    line-height: 7.3148vh;
    color: #FFFFFF;
    margin-bottom: 3.05556vh ;
}
.video-section__comment{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 2.3629vh;
    line-height: 3.611vh;
    color: #FFFFFF;
}
.video-section__button{
    margin-top: 5.27778vh ;
    width: 12.5vw;
    height: 6.0185vh;
    background-color: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1.89vh;
    line-height: 2.3148vh;
}
.video-section__image-preview-wrap .video-section__image-preview{
    width: 46.65833vw;
    height: 47.787963vh;
    border-radius: 16.3326px;
    margin: 21.2037vh 0 0 1.61458vw;

}
.video-section__image-preview-wrap{
    position: relative;
}

.image-preview__effect{
    top: 21.2037vh;
    left: 2vw;
    width: 46.0vw;
    height: 47.787963vh;
    border-radius: 16.3326px;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16.3326px;
}
.image-preview__icon-play{
    width: 4.2109vw;
    height: 7.48611vh;
    position:absolute;
    top: 41.291667vh;
    left: 23.352083vw;
    z-index: 3;
}

/*------card-info------*/
.card-info{
    margin: 11.11vh 14.323vw 15.5556vh 14.323vw;
    width: 71.3541667vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.card-info__left-wrap{
    margin-right: 4.511vw;
    position: relative;
}
.card-info__photo-wrap{
    width: 33.265vw;
    height: 53.0796vh;
    background-color: rgba(1, 153, 109, 0.2);
    border-radius: 18.112px;
    position: relative;
    overflow: hidden;
}

.card-info__photo{
    width: 22.27vw;
    height: 59.356vh;
    border-radius: 18.1125px;
    position: absolute;
    left: 5.058vw;
}
.card-info__card{
    width: 15.424vw;
    height: 27.21vh;
    background-color: #FFFFFF;
    border-radius: 3.72971px;
    filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
    position: absolute;
    left: -3.1604vw;
    top: 32.787vh;
}
.card__headline-wrap{
    width: 6.7989vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2.096vh 0 0 4.3396vw;
}
.card__headline{
    font-family: 'Lato';
    font-weight: 600;
    font-size: 1.369vh;
    line-height: 2.129vh;
    color: #000000;    
}
hr{
    width: 5.755vw;
    margin: 0.7102vh 0 0 4.764vw;    
}
.card__photo-wrap{
    margin: 1.2685vh 0 0 6.216vw;
    border-radius: 50%;
    width: 2.99vw;
    height: 5.3185vh;
    background-color: rgba(1, 153, 109, 0.2);
    position: relative;
    overflow: hidden;
}
.card__photo{
    width: 3.632vw;
    height: 9.644vh;
    position:absolute;
    top: -20px;
    left: -6px;
}
.card__name{
    margin: 0.9667vh 0 0 6.64375vw;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1276vh;
    line-height: 1.7592vh;
    color: #000000;
}
.card-descr{
    margin: 1.874vh 0 0 3.1771vw;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 1.505vh;
    line-height: 2.3148vh;
    color:#000000;
}
.card-list{
    margin: 0 0 2.803vh 3.1771vw;
    list-style-type: disc;
}
li{
    margin-top: 1.475vh;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.00028vh;
    line-height: 1.574vh;
    color:#000000;
}
.card-info__tag{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 2.3629vh;
    line-height: 3.6111vh;
    margin-bottom:0.9259vh;
}
.card-info__headline{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 4.725vh;
    line-height: 7.3148vh;
    color: #01996D;
    margin-bottom: 1.85vh;
    width: 30.5729vw;
}
.card-info__descr{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1.89vh;
    line-height: 2.87vh;
    color: #484848;
    width: 27.604vw;
    margin-bottom: 3.703vh;
}
.card-info__button{
    background-color: #01996D;
    color:#FFFFFF;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1.85vh;
    text-align: center;
    align-items: center;
    width: 11.823vw;
    height: 6.02vh;
    border: 1px solid #01996D;
    border-radius: 4px;
}

/*------footer-------*/
@font-face { font-family: Sen;
    src: url('/style/fonts/Sen/Sen-Regular.ttf');
}
.footer{
    width: 100%;
    height: 60.556vh;
    background: #245852;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__links-wrap{
    margin: 8.796vh 0 13.333vh 14.32292vw;
    display: flex;
    flex-direction: column;
}
.footer__logo{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 900;
    font-size: 3.78vh;
    line-height: 5.092vh;
    color: #FFFFFF;

}
.footer__link{
    text-decoration: none;
    margin-top: 5.5556vh;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 2.3629vh;
    line-height: 2.7778vh;
    color: #FFFFFF;
}
.footer__outbound{
    width: 56.04167vw;
    height: 13.970vh;
    margin: 42.963vh 4.79167vw 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__social-board{
    width: 18.609vw;
    height: 7.766vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social-board__elem{
    width: 4.311vw;
    height: 7.0759vh;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: relative;
}
.social-board__elem_gradient{
    width: 4.73125vw;
    height: 7.7667vh;
    background: conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: relative;
}
.social-board__image{
    position: absolute;
}
.social-board__image_left{
    width: 0.615vw;
    height: 2.189vh;
    left: 1.8476vw;
    top: 2.4443056vh;
}
.social-board__image_middle{
    width: 1.6823vw;
    height: 2.761vh;
    left: 1.52448vw;
    top: 2.50278vh;    
}
.social-board__image_right{
    width: 1.6823vw;
    height: 2.2435vh;
    left: 1.314vw;
    top: 2.416vh;
}
.footer__discover-board{
    width: 22.5vw;
    height: 13.148vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.discover-board__headline{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.89035vh;
    line-height: 2.31481vh;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}
.discover-board__wrap{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.discover-board__elem{
    width: 11.25vw;
    height: 6.04074vh;
    background: #000000;
    border-radius: 17.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discover-board__elem_smaller{
    width: 10.514vw;
}
.discover-board__elem-wrap{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.discover-elem__icon_left{
    width: 2.097vw;
    height: 3.45185vh;
}
.discover-elem__text_left{
    width: 5.63958vw;
    height: 2.5546vh;
}
.discover-elem__icon_right{
    width: 1.37968vw;
    height: 2.761vh;
}
.discover-elem__text_right{
    width: 5.72968vw;
    height: 3vh;
}

/*-----additional-----*/
a:hover{
    color: #01996D;
}
button:hover{
    background-color: rgba(204,235,226);;
    border-color: rgba(204,235,226);
    color: #01996D;
    cursor: pointer;
}